[alias]
    fid = flow init -d
    ffs = flow feature start
    fff = flow feature finish
    fhs = flow hotfix start
    fhf = flow hotfix finish
    frs = flow release start
    frf = flow release finish


    co   = checkout
    cob  = checkout -b
    undo = reset --soft
    rst  = reset

    unstage = reset HEAD

    br   = branch
    r    = remote
    d    = diff
    l    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    t    = tag
    tags = tag -a
    st   = status
    bl   = blame
    ci   = commit


[user]
    email = i.am@jag.gy
    name = Jaggy Gauran
[push]
    default = matching
[log]
    abbrevCommit = true
    graph = true
[format]
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.5/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true
[init]
    templatedir = ~/.git_templates
[core]
	excludesfile = /Users/jaggy/.gitignore_global
