[alias]
    fid = flow init -d
    ffs = flow feature start
    fff = flow feature finish
    fhs = flow hotfix start
    fhf = flow hotfix finish
    frs = flow release start
    frf = flow release finish


    co   = checkout
    cob  = checkout -b
    undo = reset --soft
    rst  = reset

    br   = branch
    r    = remote
    d    = diff
    l    = log
    t    = tag
    tags = tag -a
    st   = status
    bl   = blame
    ci   = commit


[user]
    email = jaggygauran@gmail.com
    name = Jaggy Gauran
[push]
    default = matching
[log]
    abbrevCommit = true
[format]
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[init]
	templatedir = ~/.git_templates
