[submodule "submodules/z.git"]
	path = submodules/z.git
	url = https://github.com/rupa/z.git
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = https://github.com/powerline/powerline.git
[submodule "submodules/powerline.git"]
	path = submodules/powerline.git
	url = https://github.com/powerline/powerline.git
[submodule "submodules/psutils.git"]
	path = submodules/psutils.git
	url = https://github.com/giampaolo/psutil.git
