# Created by http://www.gitignore.io

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
fish/fishd.*
alias: Expected one or two arguments, got 4
alias: Expected one or two arguments, got 4
