snippet yield
	@yield('${1:content}')

snippet section
	@section('${1:content}')
		${0}
	@endsection

snippet if
	@if(${1})
		${0}
	@endif

snippet extend
	@extends('${1:layouts.master}')

	@section('${2:content}')
		${0}
	@endsection
snippet field
	<div class="field">
		<label for="${1:field}">${2:label}</label>
		<input type="text" name="$1" id="$1" />
	</div>${0}
